@import 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap';
* {
  margin: 0;
}
body {
  color: rgb(81, 22, 22);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  background-image: url("../assets/images/contextPage.jpeg");
}
.loginPage {
  font-size: 45px;
  position: relative;
  bottom: 400px;
  left: 70px;
}
p {
  padding: 0 20px 0 20px;
  position: relative;
  bottom: 360px;
}
a {
  padding: 0 20px 0 20px;
}
.loginContainer {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentContianer {
  display: flex;
  justify-content: center;
}
.scrollImage {
  background-image: url("../assets/images/600px\ scroll.png");
  height: 600px;
}
input {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  bottom: 360px;
}