@import 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap';
* {
  margin: 0;
  padding: 0;
}
:root {
  --pixel-size: 2;
}
body {
  /* color: rgb(81, 22, 22); */
  background-size: cover;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  background-image: url("../assets/images/contextPage.jpeg");
  image-rendering: pixelated;
}
.aboutContainer {
  left: 20%;
  margin-top: 10%;
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: goldenrod;
  border: dashed 3px;
  background: rgba(93, 132, 156, 0.806) !important;
}
.aboutTitle {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.aboutUsPara {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.linksContainer {
  display: flex;
  padding: 2%;
  color:goldenrod;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.githubLinks {
  display: flex;
  padding-top: 2%;
  list-style-type: none;
}
:root {
  --pixel-size: 4;
}

.avatarBox {
  display: flex;
  margin-left: 17%;
  margin-top: 17%;
  position: absolute;
  top:0;
  left:0;
}

.gitHubTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.subText {
  position: relative;
  left: 10%;
}

/* #buttonBox {

} */

#classBox {
  display: flex;
  margin-left: 28%;
  margin-top: 8%;
  font-size: 25px;
  color: white;
}

#charTitle {
  text-align: center;
  margin-top: 5%;
  color: black;
}

/* ----------------Sprite CSS---------------- */
/* make sure that it is known that the sprite sheet can create white space at the bottom  */
.characterArea {
 display: flex;
 margin-left: 25%;
 width: 50%;
 flex-direction: row;
 justify-content: space-around;
}

.characterBox {
 justify-content: center;
 display: grid;
}

.avatarBox {
  width: calc(48px * var(--pixel-size));
  height: calc(48px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  margin: 4em auto;
}

.avatar {
  animation: moveSpritesheet 1s steps(3) infinite;
  width: calc(147px * var(--pixel-size));
  position: absolute;
  
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-48px * var(--pixel-size));
}
.face-up {
  top: calc(-146px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}

canvas {
  margin-left: 23%;
  margin-top: 6%;
}


@keyframes moveSpritesheet {
  from {
     transform: translate3d(0px,0,0)
  }
  to {
     transform: translate3d(-100%,0,0)
  }
}
