.landingContainer {
    display: flex;
    margin: 20%;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}
.battleLogo {
    display: flex;
    border-radius: 10px;
    justify-content: center;
}


.playNow {
    display: flex !important;
    /* font-family: 'Press Start 2P', cursive i; */
    color: #c89876 !important;
    background: rgba(156, 95, 93, 0.806) !important;

    border-radius: 10px;
    margin: 20px 0 20px 0;
    font-size: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
button:hover {
    color: #322b5b;
    transition: ease 0.5s ;
    background: rgba(93, 143, 156, 0.663);
}
a {
    text-decoration: none;
}
@media screen and (width: 768px) {
    html {
        transform: rotate(90deg);
    }
}
@media screen and (width: 425px) {
    html {
        transform: rotate(90deg);
    }
    .battleLogo {
        width: 200px;
        position: relative;
        left: 220px;
    }
    .playNow {
        position: relative;
        left: 220px;
    }
}
@media screen and (width: 375px) {
    html {
        transform: rotate(90deg);
    }
    .canvas {
        width: 200px;
    }
}