@import 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap';
* {
  margin: 0;
}
body {
  background-size: cover;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive !important;
  background-image: url("../assets/images/contextPage.jpeg");
}
.loginPage {
  display: flex;
  font-size: 40px;
  position: absolute;
  bottom: 430px;
  left: 30%;
}
.subHeaders {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-right: 30%;
  position: relative;
  left: 15%;
  bottom: 450px;
}
a {
  text-decoration: none;
  color: #c89876 !important;
}
.loginContainer {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentContainer {
  height: 200px;
}
.scrollImage {
  background-image: url("../assets/images/scroll-2.png");
  width: 765px;
  height: 620px;
  position: relative;
  top: 0px;
  transform: scale(1);

  /* transform: rotate(270deg);  */
}
.loginInput {
  left: 29%;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  bottom: 450px;
  margin-right: 40%;
}
/* to sign up on the modal */
.signUpBTN {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 200px;
}

.centerBTN {
  position: relative;
  bottom: 350px;
  left: 15%
}
#loginOut {
  height:10px;
  position: relative; 
  bottom: 10px;
}
.openModal {
  position: absolute;
  left: 60%;
  bottom: 190%;
}
.modal-content {
  padding: 20px;
  background-color: antiquewhite !important;
}

@media screen and (width: 425) {
  .scrollImage {
    position: realtive;
    left: 500px;
    width: 200px;
    transform: scale(0.2);
  }
  .loginInput {
    position: relative;
    left: 200px;
  }
  .subHeaders {
    font-size: 15px;
}
}