@import 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap';
* {
  margin: 0;
}
body {
  color: rgb(81, 22, 22);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  background-image: url("../assets/images/contextPage.jpeg");
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12%;

}
.currentPlayer{
  display: flex;
  justify-content: flex-start;
  margin-top: 2%;
  margin-left: 1%;
}
.statLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
}
.fakeLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.timeDefeated {
  padding-right: 20%;
}

